* {
  font-family: 'Righteous', cursive;
}

body {
  margin: 0;
  background-color: rgb(240, 240, 255);
  background-image: url(./background.jpg);
  background-size:     1600px;
  background-repeat:   no-repeat;
  background-position-y: -40px;
}

.App {
  text-align: center;
}

#mapid {
  height: auto;
  width: auto;
  min-height: 680px;
  min-width: 700px;
  border-radius: 4px;
  margin-right: 5px;
}

.row, #map, #high-score, #map-middle, #northButton, #westButton, #eastButton, #southButton, #returnButton, #startDiv, .balancer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  z-index: 1000;
  border: 0px solid yellow;
}

.score {
  position: relative;
  margin-bottom: 80%;
  border: 2px solid black;
  display: block;
}

#wrapper {
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

#northButton {
  padding: 30px 0 0 0;
}

.balancer {
  flex: 1;
}

#southButton {
  flex: 1;
  padding-bottom: 50px;
}

#startDiv {
  flex: 1;
  padding-bottom: 50px;
}

#map {
  height: auto;
  width: auto;
  min-height: 480px;
  min-width: 310px;
  padding: 0;
  border-radius: 8px;
  background-position: center;
  background-position-y: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  flex: 4;
}

#county-map {
  height: 450px;
}

.hidden, .hidden:hover { 
  opacity: 0; 
}

button, .button {
  background-color: white;
  background-image: linear-gradient(rgb(225, 225, 225), white, rgb(225, 225, 225));
  color: darkgreen;
  font-size: 19px;
  border: 1px solid darkgreen;
  border-radius: 3px;
  line-height: 20px;
  padding: 3px;
  min-width: 64px;
}

button:hover, .button:hover {
  opacity: 0.7;
  background-image: none;
}

button:disabled, .button:disabled {
  opacity: 0.4;
}


.column {
  display: flex;
  flex-flow: column;
  height: auto;
  min-height: 680px;
}

#status {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
  background-image: linear-gradient(rgb(225, 225, 225), white, rgb(225, 225, 225));
  color: darkgreen;
  font-size: 19px;
  border: 1px solid darkgreen;
  border-radius: 3px;
  padding: 5px;
  justify-content: space-between;
}

.bold {
  font-weight: bold;
}

#gv-title {
  background-color: rgb(52, 138, 52);
  box-shadow: -1px 1px 0px 1px rgba(0, 105, 35), -2px 2px 0px 1px rgba(0, 114, 38), -3px 3px 0px 1px rgba(0, 114, 38), -4px 4px 0px 1px rgba(0, 114, 38), -5px 5px 0px 1px rgba(0, 105, 35);
  color: white;
  padding: 5px;
  margin-left: 5px;
  text-align: center;
  font-family: 'Wallpoet', cursive;
  border: 1px solid rgb(0, 105, 35);
}

#score {
font-family: 'Wallpoet', cursive;
}


.blink-me {
  color: red;
  font-size: 24px;
  animation: blinker 1s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.2;
  }
}

#giveUp {
  align-self: center;
}


#Addison-County, #Bennington-County, #Caledonia-County, #Chittenden-County, #Essex-County, #Franklin-County, #Grand-Isle-County, #Lamoille-County, #Orange-County, #Orleans-County, #Rutland-County, #Washington-County, #Windham-County, #Windsor-County, #quit {
  font-size: 17px;
  margin-top: 1px;
}